<div class="contenedor-botones">
   <div class="barra-superior">
<%= link_to "← Volver al inicio", root_path, class: "btn-dashboard" %>
<%= link_to "← Qué es Ruby on Rails?", pages_info_path, class: "btn-dashboard" %>
</div>
  <h1>Panel de Base de Datos Northwind</h1>
  <p>Selecciona una tabla para gestionarla</p>

  <div class="grid-botones">


    <button class="btn-tabla" data-tabla="categories">
      <i class="fa-solid fa-tags"></i>
      <span class="tabla-en">categories</span>
      <span class="tabla-es">categorías</span>
    </button>

    <button class="btn-tabla" data-tabla="customer_customer_demo">
      <i class="fa-solid fa-id-card"></i>
      <span class="tabla-en">customer_customer_demo</span>
      <span class="tabla-es">cliente-demografía relación</span>
    </button>

    <button class="btn-tabla" data-tabla="customer_demographics">
      <i class="fa-solid fa-chart-pie"></i>
      <span class="tabla-en">customer_demographics</span>
      <span class="tabla-es">demografía de clientes</span>
    </button>

    <button class="btn-tabla" data-tabla="customers">
      <i class="fa-solid fa-users"></i>
      <span class="tabla-en">customers</span>
      <span class="tabla-es">clientes</span>
    </button>

    <button class="btn-tabla" data-tabla="employee_territories">
      <i class="fa-solid fa-map"></i>
      <span class="tabla-en">employee_territories</span>
      <span class="tabla-es">territorios por empleado</span>
    </button>

    <button class="btn-tabla" data-tabla="employees">
      <i class="fa-solid fa-user-tie"></i>
      <span class="tabla-en">employees</span>
      <span class="tabla-es">empleados</span>
    </button>

    <button class="btn-tabla" data-tabla="order_details">
      <i class="fa-solid fa-file-invoice"></i>
      <span class="tabla-en">order_details</span>
      <span class="tabla-es">detalles de pedidos</span>
    </button>

    <button class="btn-tabla" data-tabla="orders">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="tabla-en">orders</span>
      <span class="tabla-es">pedidos</span>
    </button>

    <button class="btn-tabla" data-tabla="products">
      <i class="fa-solid fa-box"></i>
      <span class="tabla-en">products</span>
      <span class="tabla-es">productos</span>
    </button>

    <button class="btn-tabla" data-tabla="region">
      <i class="fa-solid fa-globe"></i>
      <span class="tabla-en">region</span>
      <span class="tabla-es">regiones</span>
    </button>


    <button class="btn-tabla" data-tabla="shippers">
      <i class="fa-solid fa-truck"></i>
      <span class="tabla-en">shippers</span>
      <span class="tabla-es">transportistas</span>
    </button>

    <button class="btn-tabla" data-tabla="suppliers">
      <i class="fa-solid fa-industry"></i>
      <span class="tabla-en">suppliers</span>
      <span class="tabla-es">proveedores</span>
    </button>

    <button class="btn-tabla" data-tabla="territories">
      <i class="fa-solid fa-location-dot"></i>
      <span class="tabla-en">territories</span>
      <span class="tabla-es">territorios</span>
    </button>

    <button class="btn-tabla" data-tabla="us_states">
      <i class="fa-solid fa-flag-usa"></i>
      <span class="tabla-en">us_states</span>
      <span class="tabla-es">estados de EE.UU.</span>
    </button>

  </div>
</div>