<div class="container-info">
  

  <h1>¿Qué es Ruby On Rails?</h1>

  <button class="accordion">1. ¿Qué es Ruby?</button>
  <div class="panel">
    <p>
      Ruby es un lenguaje de programación creado para ser simple, elegante y fácil de leer.
      Está diseñado pensando primero en el programador, haciendo que el código sea más natural y expresivo.
    </p>
  </div>

  <button class="accordion">2. Creador de Ruby</button>
  <div class="panel">
    <p>
      Ruby fue creado por Yukihiro Matsumoto en el año 1995.
      Su objetivo era crear un lenguaje que hiciera feliz al programador, combinando lo mejor de otros lenguajes como Perl, Smalltalk y Lisp.
    </p>
  </div>

  <button class="accordion">3. ¿Qué es Rails?</button>
  <div class="panel">
    <p>
      Ruby on Rails es un framework que permite crear aplicaciones web de forma rápida y organizada.
      Está construido sobre Ruby y sigue principios como la simplicidad y la productividad.
    </p>
  </div>

  <button class="accordion">4. Creador de Rails</button>
  <div class="panel">
    <p>
      Rails fue creado por David Heinemeier Hansson en el año 2004,
      mientras trabajaba en la aplicación Basecamp.
    </p>
  </div>

  <button class="accordion">5. Filosofía de Rails</button>
  <div class="panel">
    <p>
      Rails se basa en principios importantes como:
      <br><br>
      - Convención sobre configuración (menos decisiones repetitivas)  
      <br>
      - DRY (Don't Repeat Yourself) → evitar repetir código  
      <br><br>
      Esto permite desarrollar aplicaciones más rápido y de forma ordenada.
    </p>
  </div>

  <button class="accordion">6. ¿Para qué sirve todo esto?</button>
  <div class="panel">
    <p>
      Ruby y Rails se usan para crear aplicaciones web completas como:
      sistemas de gestión, dashboards, plataformas y CRUDs.
      <br><br>
      Son herramientas muy utilizadas para desarrollar software de manera profesional.
    </p>
  </div>

  <br>

  <%= link_to "Ir al Dashboard", dashboard_path, class: "btn-dashboard" %>
      <%= link_to "← Volver al inicio", root_path, class: "btn-dashboard" %>

</div>